body {
    background-color: #cccccc;
    font-family: system-ui !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

html {
    position: relative;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }